@import './urls.css';

/* Global/general */
.jp-shortcutWidget {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  font-size: var(--jp-ui-font-size1);
  font-family: var(--jp-ui-font-family);
  color: var(--jp-content-font-color1);
  min-width: 1000px;
  overflow: hidden;
}

.jp-shortcutui::before {
  content: '';
  display: block;
  height: var(--jp-toolbar-micro-height);
  width: 100%;
  background: var(--jp-toolbar-background);
  border-bottom: 1px solid var(--jp-toolbar-border-color);
  box-shadow: var(--jp-toolbar-box-shadow);
  z-index: 1;
}